<h1>Standings</h1>

<table id="stats">
  <tr class="headings">
    <th>Name</th>
    <th>Games Played</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>W%</th>
    <th>GD</th>
  </tr>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.games_played %></td>
        <td><%= player.wins %></td>
        <td><%= player.losses %></td>
        <td><%= player.winning_percentage %></td>
        <td><%= player.goal_diff %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Add Game', new_game_path, class: "btn btn-medium table-button" %>
<%= link_to 'Show Players', players_path, class: "btn btn-medium table-button" %>
